langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-google-genai==2.1.5
langchain-text-splitters==0.3.8
python-dotenv==1.1.0
streamlit==1.45.1
beautifulsoup4==4.13.4
chromadb==1.0.12
